@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin);
@font-face {
  font-family: 'Panton';
  src: url("../fonts/panton/Panton-Light.eot");
  src: url("../fonts/panton/Panton-Light.woff2") format("woff2"), url("../fonts/panton/Panton-Light.woff") format("woff"), url("../fonts/panton/Panton-Light.ttf") format("truetype"), url("../fonts/panton/Panton-Light.svg#Panton-Light") format("svg"), url("../fonts/panton/Panton-Light.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Panton';
  src: url("../fonts/panton/Panton-LightItalic.eot");
  src: url("../fonts/panton/Panton-LightItalic.woff2") format("woff2"), url("../fonts/panton/Panton-LightItalic.woff") format("woff"), url("../fonts/panton/Panton-LightItalic.ttf") format("truetype"), url("../fonts/panton/Panton-LightItalic.svg#Panton-LightItalic") format("svg"), url("../fonts/panton/Panton-LightItalic.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Panton';
  src: url("../fonts/panton/Panton-Regular.eot");
  src: url("../fonts/panton/Panton-Regular.woff2") format("woff2"), url("../fonts/panton/Panton-Regular.woff") format("woff"), url("../fonts/panton/Panton-Regular.ttf") format("truetype"), url("../fonts/panton/Panton-Regular.svg#Panton-Regular") format("svg"), url("../fonts/panton/Panton-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Panton';
  src: url("../fonts/panton/Panton-SemiBold.eot");
  src: url("../fonts/panton/Panton-SemiBold.woff2") format("woff2"), url("../fonts/panton/Panton-SemiBold.woff") format("woff"), url("../fonts/panton/Panton-SemiBold.ttf") format("truetype"), url("../fonts/panton/Panton-SemiBold.svg#Panton-SemiBold") format("svg"), url("../fonts/panton/Panton-SemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Panton';
  src: url("../fonts/panton/Panton-Bold.eot");
  src: url("../fonts/panton/Panton-Bold.woff2") format("woff2"), url("../fonts/panton/Panton-Bold.woff") format("woff"), url("../fonts/panton/Panton-Bold.ttf") format("truetype"), url("../fonts/panton/Panton-Bold.svg#Panton-Bold") format("svg"), url("../fonts/panton/Panton-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Panton';
  src: url("../fonts/panton/Panton-ExtraBold.eot");
  src: url("../fonts/panton/Panton-ExtraBold.woff2") format("woff2"), url("../fonts/panton/Panton-ExtraBold.woff") format("woff"), url("../fonts/panton/Panton-ExtraBold.ttf") format("truetype"), url("../fonts/panton/Panton-ExtraBold.svg#Panton-ExtraBold") format("svg"), url("../fonts/panton/Panton-ExtraBold.eot?#iefix") format("embedded-opentype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Panton';
  src: url("../fonts/panton/Panton-Black.eot");
  src: url("../fonts/panton/Panton-Black.woff2") format("woff2"), url("../fonts/panton/Panton-Black.woff") format("woff"), url("../fonts/panton/Panton-Black.ttf") format("truetype"), url("../fonts/panton/Panton-Black.svg#Panton-Black") format("svg"), url("../fonts/panton/Panton-Black.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: normal; }
