<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

    <servlet>
        <servlet-name>validator</servlet-name>
        <servlet-class>auth_system.Validator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validator</servlet-name>
        <url-pattern>/validate_user</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>authorizator</servlet-name>
        <servlet-class>auth_system.Authorizator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authorizator</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>certificates</servlet-name>
        <servlet-class>UI.certificates</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>certificates</servlet-name>
        <url-pattern>/certificates</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>restorePass</servlet-name>
        <servlet-class>UI.restorePass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>restorePass</servlet-name>
        <url-pattern>/restorePass</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>webinar</servlet-name>
        <servlet-class>UI.webinar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>webinar</servlet-name>
        <url-pattern>/webinar</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>course</servlet-name>
        <servlet-class>UI.course</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>course</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>UI.profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>auth_system.CookieKiller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>creatingCourse</servlet-name>
        <servlet-class>UI.creatingCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>creatingCourse</servlet-name>
        <url-pattern>/creating-course</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>validateCourse</servlet-name>
        <servlet-class>controller.validateCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validateCourse</servlet-name>
        <url-pattern>/validate_course</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registrator</servlet-name>
        <servlet-class>auth_system.Registrator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrator</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>photoController</servlet-name>
        <servlet-class>controller.photoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>photoController</servlet-name>
        <url-pattern>/uploadPhoto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadDocument</servlet-name>
        <servlet-class>controller.documentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadDocument</servlet-name>
        <url-pattern>/uploadDocument</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createCourse</servlet-name>
        <servlet-class>controller.createCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createCourse</servlet-name>
        <url-pattern>/createCourse</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>createTheme</servlet-name>
        <servlet-class>controller.createTheme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createTheme</servlet-name>
        <url-pattern>/createTheme</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createFinalTest</servlet-name>
        <servlet-class>controller.createFinalTest</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>createFinalTest</servlet-name>
        <url-pattern>/createFinalTest</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>get_course</servlet-name>
        <servlet-class>controller.getCourse</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>get_course</servlet-name>
        <url-pattern>/getCourse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addCourse</servlet-name>
        <servlet-class>controller.addCourse</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>addCourse</servlet-name>
        <url-pattern>/addCourse</url-pattern>
    </servlet-mapping>





    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.request.charset</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
         
</web-app>

